[Unit]
Description=InThePattern Server
After=network.target

[Service]
ExecStart=foreman start
WorkingDirectory=/home/pi/in-the-pattern
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target